@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";


.slidr {
    width: 100%;
}

.slidr_heading {
    position: absolute;
    left: calc(50% - 355px);
    top: 145px;
}

.slidr_heading h2 {
    margin: 0;
}

.slidr_heading p {
    margin: 0;
}

@media (max-width: 1201px) {
    .slidr_heading {
        position: absolute;
        left: 50%;
        transform: translate(-50%, -50%);
        top: 135px;
    }


  }